datadog:
  api_key: aaaaaaaabbbbbbbbccccccccdddddddd
  checks:
    process:
      init_config:
        procfs_path: /proc
      instances:
        - name: ssh
          search_string: ['sshd']
    tcp_check:
      instances:
        - host: 127.0.0.1
          name: sshd
          port: 22
