datadog:
  config:
    api_key: aaaaaaaabbbbbbbbccccccccdddddddd
    site: datadoghq.com
    python_version: 3

  checks:
    process:
      config:
        init_config:
          procfs_path: /proc
        instances:
          - name: ssh
            search_string: ['sshd']
    tcp_check:
      config:
        instances:
          - host: 127.0.0.1
            name: sshd
            port: 22

  install_settings:
    agent_version: latest
