datadog:
  api_key: aaaaaaaabbbbbbbbccccccccdddddddd
  hostname: {{ grains.id }}  # or done include to have it automatically be calculated
  tags:
    - env:staging
    - team:sunny
  checks:
    process:
      init_config:
        procfs_path: /proc
      instances:
        - name: ssh
          search_string: ['sshd']
    tcp_check:
      instances:
        - host: 127.0.0.1
          name: sshd
          port: 22
