{% set os_family_map = salt['grains.filter_by']({
      'Debian': {},
      'RedHat': {},
    },
    grain="os_family")
%}

{% set default_settings = {
    'datadog': {
        'pkg_name': 'datadog-agent',
        'config_folder': '/etc/datadog-agent',
        'config_file': 'datadog.yaml',
        'checks_confd': '/etc/datadog-agent/conf.d',
        'service_name': 'datadog-agent',
        'api_key': 'aaaaaaaabbbbbbbbccccccccdddddddd',
        'agent_version': 'latest',
    }
}%}

{# Merge os_family_map into the default settings #}
{% do default_settings.datadog.update(os_family_map) %}

{# Merge in datadog pillar #}
{% set datadog_settings = salt['pillar.get']('datadog', default=default_settings.datadog, merge=True) %}
