{% from "datadog/map.jinja" import datadog_checks with context -%}

{% if datadog_checks[check_name].init_config is not defined -%}
init_config:
{% endif -%}

{{ datadog_checks[check_name] | yaml(False) }}
