{% from tpldir ~ "/map.jinja" import datadog_config with context -%}

[Main]
dd_url: https://app.datadoghq.com

{% if datadog_config.api_key is not defined -%}
api_key:
{% else -%}
api_key: {{ datadog_config.api_key }}
{% endif -%}
